# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        thermalfoundation:material:264
        pyrotech:bone_hoe_durable
        thermalfoundation:material:263
        pyrotech:obsidian_hoe
        thermalfoundation:material:260
        thermalfoundation:material:262
        pyrotech:dense_quartz_ore_large
        thermalfoundation:material:261
        thermalfoundation:tool.shears_gold
        pyrotech:flint_sword
        pyrotech:dense_nether_coal_ore
        pyrotech:dense_coal_ore
        forge:bucketfilled:mushroom_stew;
        pyrotech:anvil_granite
        pyrotech:freckleberries
        pyrotech:sawmill_blade_obsidian
        pyrotech:wool_tarred
        pyrotech:stone_shears
        pyrotech:flint_pickaxe_durable
        thermalfoundation:material:68
        thermalfoundation:material:67
        thermalfoundation:material:69
        thermalfoundation:material:64
        thermalfoundation:material:66
        thermalfoundation:material:65
        thermalfoundation:material:71
        pyrotech:dense_quartz_ore_rocks
        thermalfoundation:material:70
        pyrotech:bone_hammer
        pyrotech:sawmill_blade_stone
        thermalfoundation:material:72
        pyrotech:igniter
        thermalfoundation:coin
        pyrotech:fluid.pyroberry_wine
        pyrotech:rock
        pyrotech:refractory_brick_wall
        pyrotech:worktable
        forge:bucketfilled:biocrude;
        thermalfoundation:material:165
        thermalfoundation:material:164
        thermalfoundation:material:288
        thermalfoundation:material:167
        forge:bucketfilled:lamp_oil;
        thermalfoundation:material:166
        pyrotech:bone_shovel_durable
        thermalfoundation:material:161
        thermalfoundation:material:160
        thermalfoundation:material:163
        pyrotech:stone_oven
        thermalfoundation:material:162
        pyrotech:barrel_lid
        thermalfoundation:material:97
        thermalfoundation:material:96
        thermalfoundation:material:99
        thermalfoundation:material:98
        pyrotech:material:11
        projectred-core:resource_item:105
        pyrotech:material:10
        projectred-core:resource_item:103
        pyrotech:flint_pickaxe
        projectred-core:resource_item:104
        pyrotech:tanning_rack
        pyrotech:flint_hammer_durable
        pyrotech:cog_diamond
        pyrotech:stone_hammer
        pyrotech:material:19
        pyrotech:material:18
        pyrotech:rock_grass
        pyrotech:drying_rack
        pyrotech:brick_oven
        pyrotech:material:15
        projectred-core:resource_item:101
        pyrotech:torch_fiber
        thermalfoundation:material:289
        projectred-core:resource_item:102
        pyrotech:masonry_brick_wall
        pyrotech:pile_ash
        pyrotech:chopping_block
        projectred-core:resource_item:100
        pyrotech:obsidian_pickaxe
        thermalfoundation:material:293
        thermalfoundation:material:292
        thermalfoundation:material:295
        thermalfoundation:material:294
        pyrotech:burned_food
        thermalfoundation:material:291
        thermalfoundation:tome_lexicon
        thermalfoundation:material:290
        fluid:potion_lingering
        pyrotech:quartz_hoe
        forge:bucketfilled:refined_oil;
        pyrotech:crude_hoe
        pyrotech:bone_pickaxe_durable
        thermalfoundation:material:0
        pyrotech:flint_shovel
        pyrotech:compacting_bin
        thermalfoundation:material:1
        pyrotech:redstone_shovel
        pyrotech:bone_tool_repair_kit
        pyrotech:furnace_core
        thermalfoundation:material:101
        pyrotech:obsidian_sword
        thermalfoundation:material:100
        pyrotech:freckleberry_wine
        pyrotech:flint_hammer
        pyrotech:material:33
        pyrotech:material:32
        projectred-core:resource_item:202
        pyrotech:freckleberry_seeds
        pyrotech:material:34
        pyrotech:torch_stone
        pyrotech:material:31
        pyrotech:material:30
        pyrotech:limestone
        thermalfoundation:material:228
        thermalfoundation:material:227
        thermalfoundation:material:229
        pyrotech:material:37
        thermalfoundation:material:224
        thermalfoundation:material:103
        projectred-core:resource_item:200
        pyrotech:bone_axe_durable
        pyrotech:material:36
        thermalfoundation:material:102
        projectred-core:resource_item:201
        pyrotech:material:39
        thermalfoundation:material:226
        pyrotech:bone_sword
        pyrotech:material:38
        thermalfoundation:material:225
        thermalfoundation:material:352
        thermalfoundation:material:231
        pyrotech:obsidian_shovel
        thermalfoundation:material:230
        thermalfoundation:material:354
        thermalfoundation:material:353
        pyrotech:sawmill_blade_diamond
        pyrotech:mechanical_compacting_bin
        gregtech:wire_single:2527
        pyrotech:fluid.liquid_clay
        pyrotech:stone_door
        pyrotech:gold_shears
        pyrotech:material:22
        pyrotech:material:21
        pyrotech:stone_sawmill
        pyrotech:material:23
        pyrotech:cog_gold
        pyrotech:matchstick
        pyrotech:book
        pyrotech:flint_hoe_durable
        pyrotech:material:20
        pyrotech:pyroberry_cocktail
        pyrotech:bone_hoe
        pyrotech:material:29
        thermalfoundation:material:359
        pyrotech:bone_shovel
        pyrotech:flint_tool_repair_kit
        pyrotech:durable_shield
        pyrotech:marshmallow_stick_empty
        pyrotech:material:26
        thermalfoundation:material:356
        pyrotech:material:25
        thermalfoundation:material:355
        pyrotech:refractory_glass
        pyrotech:material:28
        thermalfoundation:material:358
        pyrotech:material:27
        thermalfoundation:material:357
        pyrotech:flint_shovel_durable
        pyrotech:refractory_door
        pyrotech:cog_obsidian
        pyrotech:rock_netherrack
        pyrotech:planks_tarred
        pyrotech:anvil_iron_plated
        pyrotech:refractory_brick_slab
        pyrotech:worktable_stone
        pyrotech:material:54
        pyrotech:material:51
        pyrotech:stone_kiln
        pyrotech:material:50
        pyrotech:material:53
        pyrotech:material:52
        thermalfoundation:material:129
        thermalfoundation:material:800
        thermalfoundation:material:128
        thermalfoundation:material:802
        pyrotech:slag_glass
        thermalfoundation:material:801
        forge:bucketfilled:potion_lingering;
        pyrotech:dense_redstone_ore_large
        thermalfoundation:material:132
        thermalfoundation:material:131
        thermalfoundation:material:134
        pyrotech:diamond_shears
        thermalfoundation:material:133
        pyrotech:pyroberry_seeds
        thermalfoundation:material:130
        pyrotech:dense_redstone_ore_small
        pyrotech:barrel
        pyrotech:crude_hammer
        pyrotech:material:44
        thermalfoundation:material:819
        pyrotech:material:43
        thermalfoundation:material:818
        pyrotech:material:46
        pyrotech:material:45
        forge:bucketfilled:crude_oil;
        pyrotech:sawmill_blade_gold
        pyrotech:material:40
        pyrotech:material:42
        thermalfoundation:material:817
        pyrotech:material:41
        thermalfoundation:material:816
        pyrotech:lamp_oil
        pyrotech:diamond_hammer
        pyrotech:material:48
        thermalfoundation:material:257
        thermalfoundation:material:136
        pyrotech:material:47
        thermalfoundation:material:256
        thermalfoundation:material:135
        thermalfoundation:material:259
        pyrotech:material:49
        thermalfoundation:material:258
        pyrotech:iron_hammer
        thermalfoundation:security
        pyrotech:mud
        pyrotech:cog_flint
        pyrotech:cobblestone
        pyrotech:flint_axe_durable
        pyrotech:obsidian_hammer
        pyrotech:pyroberry_wine
        pyrotech:mechanical_mulch_spreader
        thermalfoundation:tome_experience
        pyrotech:unfired_clay_shears
        pyrotech:redstone_axe
        pyrotech:pyroberries
        pyrotech:crude_shield
        thermalfoundation:ore_fluid
        pyrotech:kiln_pit
        pyrotech:quartz_sword
        pyrotech:dense_redstone_ore_rocks
        fluid:refined_oil
        pyrotech:obsidian_axe
        forge:bucketfilled:potion_splash;
        fluid:potion
        thermalfoundation:fluid_crude_oil
        pyrotech:gloamberry_wine
        pyrotech:flint_axe
        thermalfoundation:ore
        thermalfoundation:material:321
        thermalfoundation:material:200
        thermalfoundation:material:320
        pyrotech:cog_stone
        thermalfoundation:material:17
        forge:bucketfilled:potion;
        thermalfoundation:material:16
        pyrotech:farmland_mulched
        pyrotech:fossil_ore
        pyrotech:clay_shears
        pyrotech:wood_tar_block
        pyrotech:cog_bone
        pyrotech:crude_fishing_rod
        pyrotech:crude_pickaxe
        thermalfoundation:material:327
        pyrotech:gold_hammer
        thermalfoundation:material:326
        thermalfoundation:material:328
        thermalfoundation:material:323
        pyrotech:cog_iron
        thermalfoundation:material:322
        pyrotech:quartz_axe
        pyrotech:campfire
        thermalfoundation:material:325
        thermalfoundation:material:324
        pyrotech:living_tar
        pyrotech:flint_and_tinder
        pyrotech:gloamberry_seeds
        thermalfoundation:storage_alloy
        pyrotech:sawmill_blade_bone
        pyrotech:sawmill_blade_iron
        pyrotech:mud_layer
        alchemistry:compound
        alchemistry:ingot
        pyrotech:cog_wood
        pyrotech:redstone_sword
        pyrotech:mechanical_hopper
        alchemistry:element
        pyrotech:bone_pickaxe
        pyrotech:trip_hammer
        pyrotech:flint_shears
        pyrotech:mulch
        fluid:potion_splash
        pyrotech:refractory_brick_block
        thermalfoundation:material:33
        thermalfoundation:material:32
        pyrotech:quartz_shovel
        pyrotech:flint_hoe
        thermalfoundation:tool.shears_diamond
        thermalfoundation:diagram_redprint
        thermalfoundation:material:866
        appliedenergistics2:material:51
        thermalfoundation:material:198
        thermalfoundation:material:197
        pyrotech:dense_quartz_ore_small
        thermalfoundation:material:199
        pyrotech:coal_coke_block
        thermalfoundation:material:194
        pyrotech:refractory_brick_stairs
        thermalfoundation:material:193
        thermalfoundation:material:27
        thermalfoundation:material:196
        pyrotech:charcoal_block
        thermalfoundation:material:195
        thermalfoundation:material:24
        thermalfoundation:material:23
        thermalfoundation:material:192
        thermalfoundation:material:26
        thermalfoundation:material:25
        pyrotech:fluid.gloamberry_wine
        thermalfoundation:material:22
        pyrotech:strange_tuber
        thermalfoundation:storage
        pyrotech:redstone_pickaxe
        pyrotech:tainted_meat
        appliedenergistics2:material:49
        pyrotech:material:1
        pyrotech:bone_shears
        pyrotech:obsidian_shears
        pyrotech:pile_wood_chips
        pyrotech:material:0
        thermalfoundation:material:640
        pyrotech:material:6
        pyrotech:material:8
        pyrotech:material:7
        pyrotech:brick_kiln
        pyrotech:marshmallow_roasted
        pyrotech:quartz_pickaxe
        pyrotech:marshmallow
        pyrotech:fluid.freckleberry_wine
        pyrotech:redstone_hoe
        thermalfoundation:storage_resource
        pyrotech:brick_sawmill
        pyrotech:bone_hammer_durable
        thermalfoundation:material:769
        thermalfoundation:material:768
        thermalfoundation:material:770
        pyrotech:crude_shovel
        pyrotech:bow_drill_durable
        thermalfoundation:material:772
        thermalfoundation:material:771
        pyrotech:bucket_stone
        forge:bucketfilled:refined_biofuel;
        pyrotech:mechanical_bellows
        pyrotech:masonry_brick_stairs
        pyrotech:crafting_table_template
        pyrotech:compost_bin
        pyrotech:bone_axe
        pyrotech:masonry_brick_slab
        thermalfoundation:upgrade
        pyrotech:sawmill_blade_flint
        pyrotech:anvil_obsidian
        forge:bucketfilled:refined_fuel;
        pyrotech:marshmallow_burned
        thermalfoundation:material:657
        thermalfoundation:material:656
        pyrotech:gloamberries
     >
}


